<ActionBar>
  <Label text="Home"></Label>
</ActionBar>

<!-- <div style="padding-left:20; padding-top: 20;">
  Hello World! <img style="width: 50; height: 50;"
    src="https://art.nativescript.org/logo/export/NativeScript_Logo_White_Blue_Rounded.png" />
  <span>
    Welcome to your NativeScript Angular App. <img src="https://robohash.org/nativescript" style="width: 50; height: 50;" />
  </span>
  <div style="padding-top: 20;">
    <button> Go to Details <img style="width: 50; height: 50; border-radius: 10px;"
        src="https://upload.wikimedia.org/wikipedia/commons/6/67/Angular_gradient_logo.png" /></button>
  </div>
</div> -->



<!-- <div class="body">
  <div class="wrapper">
    <div class="box a">A</div>
    <div class="box b">B</div>
    <div class="box c">C</div>
    <div class="box d">D</div>
  </div>
</div> -->

<div class="body">
  <div class="wrapper">
    <div class="box header">Header</div>
    <div class="box sidebar">Sidebar</div>
    <div class="box sidebar2">Sidebar 2</div>
    <div class="box content">Content<br/>More content than we had before so this column is now quite tall.</div>
    <div class="box footer">Footer</div>
  </div>
</div>